<div class="row bg-dark text-white">
  <h2 class="col text-center" routerLink="/">BibliotecaAdim</h2>
</div>
<h3>Dashboard</h3>
<div class="row">
  <div class="card col" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Livros</h5>  
      <a routerLink="/cadastroLivro" class="card-link btn btn-success">Cadastrar Livro</a>
      <a routerLink="/livros" class="card-link btn btn-dark">Ver todos</a>
    </div>
  </div>
  <div class="card col" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Usuários</h5>  
      <a routerLink="/cadastroUsuario" class="card-link btn btn-success">Cadastrar Usuário</a>
      <a routerLink="/usuarios" class="card-link btn btn-dark">Ver todos</a>
    </div>
  </div>
</div>
<router-outlet></router-outlet>