
<div class="row" style="font-weight: bold;">
    <div class="col-3 ">ISBN</div>
    <div class="col-3 ">Autor</div>
    <div class="col-3 ">Título</div>
    <div class="col-1 ">Qtd</div>
    <div class="col-2 ">Ações</div>
</div>
    
    
<div *ngFor="let livro of meusLivros; let i = index" [ngClass]="(i%2 == 0 )?'bg-dark':'bg-secondary'" class='row text-white' style='padding:8px' >
    <div class="col-3">{{livro.isbnLivro}}</div>
    <div class="col-3">{{livro.autorLivro}}</div>
    <div class="col-3">{{livro.tituloLivro}}</div>
    <div class="col-1">{{livro.qtdExemplares}}</div>
    <div class="col-2 row">
        <a routerLink="/editarLivro/{{livro.isbnLivro}}/{{livro.autorLivro}}/{{livro.tituloLivro}}/{{livro.qtdExemplares}}/{{livro._id}}"  class="col-5 btn btn-warning">Editar</a>
        <a (click)=" excluirLivro(livro._id)" class="col-5 offset-1 btn btn-danger">Excluir</a>
    </div>
</div>

        
    