
<div class="row" style="font-weight: bold;">
    <div class="col-2 ">CPF</div>
    <div class="col-3 ">Nome</div>
    <div class="col-2 ">E-mail</div>
    <div class="col-2 text-center">Telefone</div>
    <div class="col-1 ">Empréstimos</div>
    <div class="col-2 ">Ações</div>
</div>
<div *ngFor="let usuario of meusUsuarios; let i = index" class="row" style="padding:8px">
    <div class="col-2">{{usuario.cpf}}</div>
    <div class="col-3">{{usuario.nome}}</div>
    <div class="col-2">{{usuario.email}}</div>
    <div class="col-2 text-center">{{usuario.telefone}}</div>
    <div class="col-1">{{usuario.qtdLivrosEmprestados}}</div>
    <div class="col-2 row">
        <a routerLink="/editarUsuario/{{usuario.cpf}}/{{usuario.nome}}/{{usuario.email}}/{{usuario.telefone}}/{{usuario.qtdLivrosEmprestados}}/{{usuario._id}}"  class="col-5 btn btn-warning">Editar</a>
        <a (click)=" excluirUsuario(usuario._id)" class="col-5 offset-1 btn btn-danger">Excluir</a>
    </div>
</div>
    
