
<div class="row" style="font-weight: bold;">
    <div class="col-2 ">CPF</div>
    <div class="col-3 ">Nome</div>
    <div class="col-2 ">E-mail</div>
    <div class="col-2 text-center">Telefone</div>
    <div class="col-1 ">Empréstimos</div>
    <div class="col-2 ">Ações</div>
</div>
<div *ngFor="let usuario of meusUsuarios; let i = index" class="row" style="padding:8px">
    <div class="col-2">413.741.328-29</div>
    <div class="col-3">Willer Gomes de Medeiros Paternostro</div>
    <div class="col-2">willergmpaternostro@gmail.com</div>
    <div class="col-2 text-center">(11)9 4954-9761</div>
    <div class="col-1">2</div>
    <div class="col-2 row">
        <a routerLink="/editarUsuario/{{usuario.cpf}}/{{usuario.nome}}/{{usuario.email}}/{{usuario.telefone}}/{{usuario.qtdLivrosEmprestados}}/{{usuario._id}}"  class="col-5 btn btn-warning">Editar</a>
        <a (click)=" excluirUsuario(usuario._id)" class="col-5 offset-1 btn btn-danger">Excluir</a>
    </div>
</div>
    
